.container-golden {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 50px;
    text-align: center;
  }

  .nopadding {
    padding: 0px 0px;
  }
  .text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f4f3f2;
    height: 400px;

    .subtitle {
      font-size: 40px;
      font-weight: bold;
    }
    p {
      font-size: 20px;
    }
  }
  .container-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    .sub-title {
      font-size: 40px;
    }
    button {
      background-color: black;
      color: white;
      padding: 15px 80px;
      border: none;
      border-radius: 5px;
      font-size: 20px;
    }
  }

  .applicants {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f4f3f2;
    height: 400px;

    .subtitle {
      font-size: 40px;
      font-weight: bold;
    }
    p {
      font-size: 20px;
    }
  }

  .residence {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f4f3f2;
    height: 400px;

    .subtitle {
      font-size: 40px;
      font-weight: bold;
    }
    p {
      font-size: 20px;
    }
    span {
      font-weight: bold;
    }
  }

  @media (max-width: 912px) {
    .title {
      font-size: 30px;
    }

    .text-container {
      height: 400px;
      .subtitle {
        font-size: 30px;
      }
    }

    .applicants {
      height: 520px;
    }
    .residence {
      height: 550px;
    }

    .container-contact {
      text-align: center;
      .sub-title {
        font-size: 24px;
        font-weight: bold;
      }
      button {
        font-size: 18px;
      }
    }
  }
}
