.tax {
  h2 {
    text-align: center;
    font-size: 60px;
  }
  .container-image {
    background-image: url("/images/image3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    color: black;
  }

  p {
    font-size: 20px;
  }
}
