.tax {
  display: flex;
  flex-direction: column;
  h2 {
    text-align: center;
    font-size: 60px;
  }
  .container-image {
    background-image: url("/images/image3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    color: black;
  }

  .subcontainer {
    border-bottom: 1px solid black;
    .subtitle {
      font-size: 40px;
      font-weight: bold;
    }

    p {
      font-size: 20px;
    }
  }
  .container-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    .sub-title {
      font-size: 40px;
      text-align: center;
    }
    button {
      background-color: black;
      color: white;
      padding: 15px 80px;
      border: none;
      border-radius: 5px;
      font-size: 20px;
    }
  }

  @media (max-width: 912px) {
    h2 {
      font-size: 30px;
    }
    .subcontainer {
      text-align: center;
      .subtitle {
        font-size: 30px;
      }
    }
    .container-image {
      height: 300px;
    }
    .container-contact {
      text-align: center;
      .sub-title {
        font-size: 24px;
        font-weight: bold;
      }
      button {
        font-size: 18px;
      }
    }
  }
}
