.nav-container {
  min-width: 100vw;
  height: 150px;
  position: fixed;
  color: #2a2a2a;
  background-color: white;
  z-index: 999;

  a {
    color: #2a2a2a;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  a:hover {
    font-weight: bold;
  }

  .logo-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    .logo {
      cursor: pointer;
    }
  }

  .row-nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }

  @media (max-width: 767px) {
    .row-nav {
      display: none;
    }
  }
}
