footer {
  width: 100%;

  .container-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #2a2a2a;
    font-size: 16px;

    .icons {
      a {
        padding-left: 10px;
      }
    }
  }
}
