.section1 {
  width: 100%;
  height: 600px;
  background-image: url("/images/image5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;

  text-align: center;
  h2 {
    padding-top: 200px;
    font-size: 60px;
    color: white;
  }
  h3 {
    font-size: 30px;
    color: white;
  }
}
