.container-about {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcd7d4;
  padding: 40px 40px;

  .title {
    padding-bottom: 10px;
    font-size: 30px;
  }

  button {
    padding-top: 10px;
    background-color: black;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
  }
}
